body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 40px;
}

.color {
    color: coral;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;

}

.half-width img {
    width: 80%;
}

.link_button {

    text-decoration: none;
    background-image: linear-gradient(rgb(206, 107, 67), tomato);
    padding: 10px 30px;
    color: rgb(241, 241, 241);
    font-weight: 700;
    border-radius: 5px;
}

.top_banner {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}

.Dreaming {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}